body>.col-xs-3{
	background: transparent;
	color: white;
	text-align: justify;
}
body{
    background: #19232C;
    background-attachment: fixed;
}

a{
	color:black;
}

body>.col-xs-9{
	background-color: white;
	overflow-x:hidden; 
	padding:0 15px;
}

legend{
	margin-top: 30px;
	padding-left: 15px;
}

#edit-index>row{
	
}

.form-update{
	margin-top: 20px;	
}

h4{	
	margin-top: 15px;
	margin-left: 15px;
}

.navbar-inverse{
	margin: 0 -15px;
	padding: 15px;
	background: #223A52;
	border-radius: 0;
	-o-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: 0px 3px 4px;
	-o-box-shadow: 0px 3px 4px;
	-moz-box-shadow: 0px 3px 4px;
	-webkit-box-shadow: 0px 3px 4px;
	border: 0;
}

.nombre, .descripcion, .imagen{
	margin: 0 auto;
        color: white;
}

.imagen{
	padding: 30px;
}
.imagen>img{

	margin: auto;
	display: block;
}
.nombre{
	text-align: center;
	margin-bottom: 15px;

}

.descripcion{
	margin: 0 20px;
        text-align: justify;
        text-shadow: 1px 1px 3px #000;
-o-text-shadow: 1px 1px 3px #000;
-moz-text-shadow: 1px 1px 3px #000;
-webkit-text-shadow: 1px 1px 3px #000;

}
body>.col-xs-3>.btn{
	width: 130px;
	margin: 15px auto;
	display: block;
	border: 0;	
}

.navbar>.navbar-right>.pull-right>a{
	font-size: 15px;
	color: white;
	padding: 0 15px;
}

#graficas>.col-xs-4{

}

.comentario-admin{
	border-bottom: 1px solid rgb(240,240,240);
}

.comentario-admin:last-child{
	border-bottom: 0;
}

.panel-body{
	max-height: 350px;
	overflow-y:auto; 
}

.panel-heading{
	background:#223A52 !important;
	color: white !important;
}

.btn-primary{
	background:#223A52 !important;
	color: white !important;
        display: block;
        margin: auto;
       
        border: white;
        font-size: 15px;
}

#edit-perfil>.btn-primary{
 width: 100px !important;   
}

#slide-left{
    	background: transparent;
	color: white;
        margin: 0 auto;
}

#slide-right{
	background-color: white;
	overflow-x:hidden; 
	padding:0 15px;

}



label.filebutton {
    width:120px;
    height:40px;
    overflow:hidden;
    position:relative;
    background-color:#ccc;
}

 span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

.ico-camara{

	font-size: 22px;
	padding: 5px;
	top:5px;
}
#btn-perfil{
    width: 100px;
    margin-top: 15px;
    
}

.imagen>.img-circle{
    width: 130px !important;
    height: 130px !important;
    border: 3px solid white;
    box-shadow: 0px 0px 13px #fff;
    -o-box-shadow: 0px 0px 13px #fff;
    -moz-box-shadow: 0px 0px 13px #fff;
    -webkit-box-shadow: 0px 0px 13px #fff;
}

.btn-edit{
    display: initial !important;
}

.correo{
    color: #E0E050;
text-shadow: 1px 1px 3px #000;
-o-text-shadow: 1px 1px 3px #000;
-moz-text-shadow: 1px 1px 3px #000;
-webkit-text-shadow: 1px 1px 3px #000;
}

.titulo{
    text-shadow: 1px 1px 3px #000;
-o-text-shadow: 1px 1px 3px #000;
-moz-text-shadow: 1px 1px 3px #000;
-webkit-text-shadow: 1px 1px 3px #000;
    
}


/* ==================================================
  Table
================================================== */

.table{
    max-height: 400px !important;
    overflow-y: auto;
}
#tabla>.col-xs-8{
   max-height: 400px !important;
    overflow-y: auto;
    
}

th{
    background-color: #223A52 !important;
    color: white;
    border-color: #223A52 !important;
}