/* move special fonts to HTML head for better performance */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');


/* custom template */
html, body {
 height: 100%;
 font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
 margin-left:0;
 margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
  content: "";
  display: table;
}

.wrapper:after,
.column:after {
  clear: both;
}

.column {
  *zoom:1;
}

.column2 {
  *zoom:1;
  overflow-y: auto;
  height: 100%;
}

.column .padding {
  padding: 20px;
}

.box {
  bottom: 0; /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


.divider {
  margin-top:32px;
}

#main {
  background-color:#fefefe;
  margin-bottom: 50px;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

#sidebar, #sidebar a {
  color:#fff;
  background-color:transparent;
  text-shadow:1px 0 1px #000;
}
#sidebar a.logo {
  font-family: 'Lato', sans-serif;
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
 font-weight:800;
 font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:rgba(26, 46, 66, 0.75);
}
.page-header {
  margin-top: 55px;
  padding: 12px 0px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
  width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

small>a{
    color:#cccc99 !important;
}

.sideBar-link{
    text-decoration: none;
    margin-bottom: 10px;
 }
.label-tag{
    background: #cccc99;
font-size: 13px;

}

.label-tag>a{
    color: white !important;
}

.contenido-blog{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(235,235,235);
}

.contenedor-post{
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
}
body{
    background: url("http://th06.deviantart.net/fs71/PRE/i/2010/156/d/0/Shiny_Blue_Texture_3_by_BrokenVain_Stock.png") top right no-repeat;
    background-repeat-x: initial;
    background-attachment: fixed;
}

#comentarios>label{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: solid 1px rgb(235,235,235);
}

.comentario{
    margin-bottom: 25px;
}

.input-comentario{
    border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    
}

.comentario>.content{
    padding: 10px;
    border-left: 5px solid #eee;
}

.view>.row>.col-sm-10>h4>span{
    margin-right: 5px;
    padding: 3px;
}

.view>.row>.col-sm-10>h4>span>a{
   color: white;
   font-size: 11px;
   text-decoration:none;
}

.btn-primary{
	background:#223A52 !important;
	color: white !important;
   
        border: white;
        font-size: 15px;
}


#new-publication{
    background: white;
    padding :50px 15px;
    margin-top: 60px ;
    margin-bottom:  60px ;
}

#new-publication legend{
    text-align: justify;
}

#new-publication  .btn-primary{
    margin-top: 20px;
}


#new-publication select{
    padding: 4px;
margin: 8px 0;
border-radius: 5px;
}

#contenido{
    min-height: 200px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.pad-l-0{
    padding-left: 0 !important;
}
.contenido-blog{
    text-align: justify !important;
}

@media (max-width: 768px) { 
    #sidebar{
        display: none;
    }
}

